<html>
    <head>
        <title>Yura's indeed second blog </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Yura's indeed second blog</a></h1>
        </div>

        <div>
            <p>published: 22.11.2018, 22:05</p>
            <h2><a href="">My first post in this blog</a></h2>
            <p>There has been considerable controversy over the origin of the Brahma. It appears to have developed in the United States from birds imported from the Chinese port of Shanghai, which were thus known as "Shanghai" birds. Limited cross-breeding with Chittagong chickens from Bangladesh is likely what gave the Brahma the distinctive characteristics of head shape and the pea comb that distinguish it from the Cochin (another breed that derives from the "Shanghai" birds).</p>
        </div>

        <div>
            <p>published: 22.11.2018, 22:05</p>
            <h2><a href="">My second post in this blog</a></h2>
            <p>Like the Brahma, the Cochin derives from very large feather-legged chickens brought from China to Europe and North America in the 1840s and 1850s. These were at first known as "Shanghai" birds, and later as "Cochin-Chinas". The large size and striking appearance of these birds contributed to a sudden large increase of interest in poultry-breeding in Western countries, sometimes described as "hen fever"..</p>
        </div>
    </body>
</html>